/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #395AA2;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1, h2 {
    color: #252424;
    text-align: center;
  }
  
  p {
    margin-bottom: 1rem;
    text-align: center;
  }
  #emergency-type{
    margin-bottom: 20px;
  }
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  form input, form select, form textarea, form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button {
    background-color: #0d0349;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  form button:hover {
    background-color: #6074b8;
  }
  
  /* Footer */
  /* footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  } */
  .footer{
    background: #f1f8f6;
}
.footer .box-container{
    /* margin-top: 18cm; */
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
.footer .box-container .box h3{
    /* font-size: 2rem; */
    color: var(--black);
    /* padding-top: 4rem; */
    /* padding-bottom: 2rem; */
}
.footer .box-container .box a{
    display: block;
    /* font-size: 1.5rem; */
    color: var(--light);
    padding: 0.5rem ;
}
.footer .bottom{
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--light);
    border-top: var(--border); 
}
.footer .bottom span{
    color: var(--blue);
    font-weight: 600;
}

/* responsive */
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}